{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/places/place-detail.css' %}"
/>
<script defer src="{% static 'js/place-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="place-container">
  <div class="place-img">
    <img 
      src="{% static 'images/todo.gif' %}" 
      alt="TODO"
    >
  </div>
  <div class="todos-container">
    <section class="todos">
      <div class="subsection-title">
        <h1>Things to do in {{ place.name }}!!</h1>
      </div>
      <table>
        <thead>
          <tr><th>
            <form
            action="{% url 'add_todo' place.id %}" 
            method="post" 
            class="subsection-content"
          >
            {% csrf_token %}
            {{ todo_form.as_p }}
            <br>
            <button type="submit" class="btn submit">Add</button>
          </form>

            </form>
          </th></tr>
        </thead>
        <tbody>
          {% for doing in place.doing_set.all %}
            <tr>
              {% if doing.complete %}
                <td>✔️{{doing.todo}}</td>
                {% comment %} <td>✔️{{doing.get_todo_display}}</td> {% endcomment %}
              {% else %}
                <td>{{doing.todo}}</td>
                {% comment %} <td>{{doing.get_todo_display}}</td> {% endcomment %}
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>   
  </div>
</section>
<div class="visits-container">
  <section class="visits">
    <div class="subsection-title">
      <h2>Visits</h2>
      <img 
        src="{% static 'images/happy.png' %}" 
        alt="Happy"
      />
    </div>
    <h3>Add a Visit</h3>
    <form
      action="{% url 'add_visit' place.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ visiting_form.as_p }}
      <button type="submit" class="btn">Add</button>
    </form>
    <h3>Past Visits</h3>
    {% if place.visit_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Visit</th></tr>
      </thead>
      <tbody>
        {% for visit in place.visit_set.all %}
          <tr>
            <td>{{visit.date}}</td>
            <td>{{visit.get_visited_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
			<div class="subsection-content">
        <p>Buy a plane ticket to {{place.name}}!!!</p>
      </div>
    {% endif %}
  </section>
</div>

<div class="button-actions">
  <a href="{% url 'places_update' place.id %}" class="btn warn">Edit</a>
  <a href="{% url 'places_delete' place.id %}" class="btn danger">Delete</a>
</div>

{% endblock %}
